<a href="https://colab.research.google.com/github/sumansauravmay/GEN_AI_PRACTICE/blob/main/dataTypes_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
print(x)
print(type(x))

In [ ]:
y=78.34
print(y)
print(type(y))

In [ ]:
p="python"
print(p)
print(type(p))

In [ ]:
z=False
print(z)
print(type(z))

In [ ]:
q='c'
print(q)
print(type(q))

In [ ]:
for num in range(0,10):
  print(num, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for num in range(0, 20):
  if num%2==0:
    print(num, end=" ")

0 2 4 6 8 10 12 14 16 18

In [ ]:
num=0
while num<10:
  print(num, end=" ")
  num+=1

0 1 2 3 4 5 6 7 8 9

In [ ]:
for num in range(0, 20, 2):
  print(num, end=" ")

0 2 4 6 8 10 12 14 16 18

In [ ]:
for num in range(1, 20, 2):
  print(num, end=" ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
#list, dictionary, tuple set

In [3]:
newtuple=(23,24,25,26,27, 23, 25)
print(newtuple)

(23, 24, 25, 26, 27, 23, 25)

In [4]:
newtuple.count(25)

2

In [6]:
print(newtuple.index(25))

2

In [14]:
print(list(newtuple))

[23, 24, 25, 26, 27, 23, 25]

In [17]:
newList=list(newtuple)
newList.append(28)

In [18]:
print(newList)

[23, 24, 25, 26, 27, 23, 25, 28]

In [20]:
print(tuple(newList))

(23, 24, 25, 26, 27, 23, 25, 28)

In [19]:
print(set(newList))

{23, 24, 25, 26, 27, 28}

In [13]:
newDict={"vidya":23, "vidya":21, "Tomarro":24, "Peter":25, "Ganesh":26, "name":["Suman", "Saurav"],(67,90):[12,32], 43: 21, 29.23: 89}
print(newDict)

{'vidya': 21, 'Tomarro': 24, 'Peter': 25, 'Ganesh': 26, 'name': ['Suman', 'Saurav'], (67, 90): [12, 32], 43: 21, 29.23: 89}

In [21]:
newSet={36, 56, 45,45}
print(newSet)

{56, 36, 45}

In [23]:
newSet.add(34)
newSet.add(21)
print(newSet)

{34, 36, 45, 21, 56}

In [26]:
listone=[56, 78, 56, 78, 12, 13, 14, 12]
print(set(listone))
print(list(set(listone)))

{12, 13, 78, 14, 56}
[12, 13, 78, 14, 56]

In [27]:
print(newSet.pop())

34

In [28]:
print(newSet)

{36, 45, 21, 56}

In [31]:
for num in newSet:
  print(num, end=" ")

36 45 21 56

In [29]:
print(newSet[0])

TypeError: 'set' object is not subscriptable

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Create a dataset with 2 columns and 25 samples
np.random.seed(42) # for reproducibility

# Column 1: Categories
categories = ['Group A', 'Group B', 'Group C', 'Group D', 'Group E']
# Randomly assign categories to 25 samples
data_categories = np.random.choice(categories, size=25)

# Column 2: Numerical values
data_values = np.random.randint(10, 100, size=25) # Random integers between 10 and 99

# Create DataFrame
df = pd.DataFrame({
    'Category': data_categories,
    'Value': data_values
})

print("Original Dataset Head:")
print(df.head())
print("\n")

# Prepare data for pie chart: sum 'Value' for each 'Category'
pie_data = df.groupby('Category')['Value'].sum()

# Draw a pie chart
plt.figure(figsize=(8, 8))
plt.pie(pie_data, labels=pie_data.index, autopct='%1.1f%%', startangle=90, colors=plt.cm.Paired.colors)
plt.title('Distribution of Values by Category')
plt.axis('equal') # Equal aspect ratio ensures that pie is drawn as a circle.
plt.show()

In [ ]:
print(df.to_string())

In [ ]:
print(df.to_string())